<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <body>
  



	<title>Data Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="/templates/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/templates/index.html">SocialAuth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/templates/index.html">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
          </li>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead"> This project was completed as part of a Distributed Systems course assignment
        <br>
        <p>We strive to use numerous components of the cloud in our project, in this example, the IBM cloud. Data scrapers, cloud functions, and cloud object storage were all utilised.</p>
    <p>Our project's goal is to forecast two topics: religion and political opinions.    </p>



    <hr class="my-4">
    <h4><p>Scoring Table:</p></h4>
    <p>
    0-39 -->Low<br>
     40-69 -->Medium<br>
     70-89 -->High<br>
     90-∞ -->Critical<br>
     <h4><p>Parameters:</p></h4>
     public profile-->+35 points<br>
     geo_enabled-->+90 points<br>
     location-->+5 points<br>
     political idelogy != neutral-->+40 points<br>
     religion ideology not neutral-->+40 points
    </p>
    <a class="btn btn-primary btn-lg" href="/templates/index.html" role="button">Learn more</a>
  </div>




</body>
</html>















    
    
   
    
  </body>
</html>